/* Copyright Connor Mattson 2018 */

#blog-nav {
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.blog-category-button {
  display: inline-block;
  margin: 15px 2%;
  font-family: "supplyregular";
  color: lightgray;
  text-decoration-color: #981B1E;
  font-size: 1.25em;
  vertical-align: middle;
  cursor: pointer;
}

#blog-search {
  background-color: lightgrey;
  width: 1.5%;
  border: solid;
  border-radius: 15px;
  display: inline-flex;
  margin-bottom: 1vh;
  cursor: text;
  float: right;
}

.blog-search-items {
  display: inline;
  height: 25px;
  width: auto;
}

.blog-search-items img {
  float: right;
  height: auto;
  width: auto;
  max-width: 90%;
  max-height: 90%;
  transform:translate(25%, 1px);
}

#blog-search input {
  background-color: lightgrey;
  border: none;
  display: none;
  height: 100%;
  width: 85%;
  transform:translate(5px,25%);
}

.blog-year {
  font-family: 'supplylight';
  font-size: 1.1em;
  margin-bottom: 2vh;
  margin-top: 3vh;
}

.blog-item {
  font-family: 'supplylight';
  font-size: 1em;
  margin-left: 20px;
  margin-bottom: 1.25vh;
}

.blog-item-date {
  font-family: 'supplylight';
  font-size: 1em;
  color: lightgrey;
}